{% extends "model.html" %}

{% block content %}
<section id="main-content">
  <section class="wrapper">
    <div class="row mt">
      <div class="col-lg-12">
        <h4><i class="fa fa-angle-right"></i> AJOUT D'UN RÉFÉRENTIEL</h4>
        <div class="form-panel">
          <div class="form">
            <form class="cmxform form-horizontal style-form" id="signupForm" method="POST" action="traitementInscriptionRef">
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock content %}